html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1; /* Empuja el footer hacia abajo */
}

.footer {
    width: 100%;
    background-color: #3e2723;
    color: white;
    text-align: center;
    padding: 20px 0;
}
