<app-loader-global *ngIf="isLoading$ | async"></app-loader-global>
<router-outlet></router-outlet>
<!--Loader de la pagina-->
<app-titulo-principal></app-titulo-principal>
<!--Este es el header de SweetShop-->
<app-barra-horizontal-de-navegacion></app-barra-horizontal-de-navegacion>
<!--Esta es la barra de navegacion rapida en horizontal debajo de SweetShop Tittle-->
<router-outlet></router-outlet>
<!-- El router-outler para que los router links se manejen de manera dinamica.-->
<app-barra-lateral></app-barra-lateral>

<app-footer></app-footer> 
<!-- El footer posicionado de manera globalizada para que aparezca en todas las partes de la pagina, por el momento -->

