<body>
  <main class="main">
    <header>
      <h1 class>{{ title }}</h1>
    </header>
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Información</a></li>
        <li><a href="#">Catálogo</a></li>
        <li><a href="#">En oferta</a></li>
      </ul>
      <div class="search-container">
        <input type="text" class="search-input" placeholder="Buscar productos...">
        <button class="search-button">🔍</button>
      </div>
    </nav>  
  </main>
</body>
<router-outlet />

