<section class="informacion">
    <div class="info-container">
      <div class="info-box">
        <h2>Sobre Nosotros</h2>
        <p>
          SweetShop comenzó como un proyecto para demostrar cómo el diseño llamativo y atractivo puede mejorar la experiencia del usuario. Con el uso de tecnologías modernas, este proyecto sigue evolucionando día a día para ofrecer una mejor eficiencia y funcionalidad.
        </p>
      </div>
      
      <div class="info-box">
        <h2>Contacto</h2>
        <p><strong>Email:</strong> <a href="mailto:eduardoaraujo6660&#64;gmail.com">eduardoaraujo6660&#64;gmail.com</a></p>
        <p><strong>Teléfono:</strong> <a href="tel:+51985573499">+51 985 573 499</a></p>
        <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/eduardo-salvador-araujo-sarmiento/" target="_blank">Eduardo Salvador Araujo Sarmiento</a></p>
      </div>
  
      <div class="info-box">
        <h2>Atención al Cliente</h2>
        <p>Estamos aquí para ayudarte. Si tienes dudas o necesitas asistencia, contáctanos por cualquiera de nuestros medios de comunicación. ¡Te atenderemos con gusto!</p>
      </div>
    </div>
  </section>
  
